PORT=3333
HOST=0.0.0.0
NODE_ENV=production
APP_KEY=j1wd3CmRKhqba_otYUnojpFb45xk6NVW
DRIVE_DISK=local

DB_CONNECTION=pg
PG_HOST=leaguestats-postgres
PG_PORT=5432
PG_USER=root
PG_PASSWORD=root
PG_DB_NAME=leaguestats

REDIS_CONNECTION=local
REDIS_HOST=leaguestats-redis
REDIS_PORT=6379
REDIS_PASSWORD=

RIOT_API_KEY=RGAPI-dac01f5e-b54a-43e0-b9c8-5f73ae482fd2


BULL_REDIS_HOST=leaguestats-redis
BULL_REDIS_PORT=6379
BULL_REDIS_PASSWORD=
